/__pycache__/
/messages.pot
/locales/*/LC_MESSAGES/messages.mo
BLS.png
layout.pdf
layout.pptx
.pycodestyle
.pylintrc
/fake-input
/old
/.idea/workspace.xml
layout2.odp
layout2.pdf
assets/tab-layout2.pdf
assets/tab-layout2fr.odp
